*{
    background-color: rgb(124, 180, 187);
    font-family: monospace;
    width: auto;
}
header {
    display: flex;
    list-style-type: none;
    justify-content:space-between;
}
header nav{
    display: flex;
}
header nav li{
    margin-right: 10px;
    padding-top: 35px;
}
.contact{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.contact nav{
    display:flex;
}
.contact nav li{
    margin-right: 10px;
    padding-top: 25px;
}
.portfolio a{
    flex-wrap: wrap;
}
@media screen and (max-width:768px){
    .portfolio a{
        width: 100%;}
}