*{
    background-color: lightblue;
    font-family: monospace;
    
}
header {
    display: flex;
    list-style-type: none;
    justify-content:space-between;
}
header nav{
    display: flex;
}
header nav li{
    margin-right: 10px;
    padding-top: 35px;
}
.contact{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.contact nav{
    display:flex;
}
.contact nav li{
    margin-right: 10px;
    padding-top: 25px;
}
.portfolio {
    display:flex;
    flex-wrap: wrap;
    width: 600px;
}